---

---

<header>
  <ul>
    <li><a href="/">EN</a></li>
    <li><a href="/pt-br">PT</a></li>
  </ul>
</header>

<style>
  header {
    display: flex;
    justify-content: end;
    margin: 1rem;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      gap: 0.5rem;
    }
  }
</style>
